.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 0.7rem 0 0.7rem;
  align-items: center;
  background-color: var(--white-color);
  width: 100%;
  height: 6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
nav {
  position: sticky;
  top: 0;
  z-index: 8;
}
.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-left a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 15px;
  padding: 0.9rem;
  font-family: Inter;
  font-weight: 500;
}

.brand {
  margin: 0px 10px;
}
.brand-name {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-family: Libre Baskerville;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* search bar  */
.searchbar-container {
  margin-right: 1.5rem;
  width: 24rem;
  height: 3rem;
  border-radius: 5px;
  padding: 4px;
  display: inline-flex;
  background-color: #f5f5f6;
}
.nav-search-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.btn-no-decoration {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}
.btn-no-decoration:hover {
  color: rgb(133, 125, 125);
}
.nav-icons-container {
  display: flex;
  align-items: center;
}
.nav-right .nav-icon {
  font-size: 2.3rem;
}
.nav-icons {
  margin: 0 10px;
  cursor: pointer;
  color: var(--primary-color);
}
.mobile-search-container {
  position: sticky;
  display: inline-flex;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  padding: 4px;
  display: inline-flex;
  background-color: #f5f5f6;
  z-index: 8;
  top: 0;
}
.mobile-search-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .brand-name {
    font-size: 1.3rem !important;
  }
  .nav-right .nav-icon {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    height: 4rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
  }
  .searchbar-container {
    display: none;
  }
  .nav-left a {
    display: none;
  }
  .nav-right .nav-icon {
    font-size: 1.7rem;
  }
  .brand-name {
    font-size: 1.7rem;
  }
  .mobile-search-container {
    display: flex;
  }
}
