.filters {
  display: block;
  height: calc(100vh - 2rem);
  margin: 1rem;
  min-width: 14rem;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.filters-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.75rem;
}

.filters-header p {
  font-size: 1rem;
  color: var(--primary-color);
}
.btn-clear-filter {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.filter-heading {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.filter-price,
.filter-price-range,
.filter-rating,
.filter-categories,
.filter-includeoutofstock {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  row-gap: 0.5rem;
}

.filters-label-text {
  color: var(--black-color);
  padding-left: 5px;
}
.filters-label-text .filters-rating-star {
  font-size: 1.2rem;
  color: yellow;
}
