.product-card {
  width: 16rem;
  margin: 15px;
  padding: 10px;
  position: relative;
  height: 22rem;
  box-shadow: 0px 0px 5px var(--boxshadow-color);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.product-card:hover {
  box-shadow: 0px 0px 16px var(--boxshadow-color);
}
.product-card-img-container {
  box-sizing: border-box;
  height: 13rem;
  padding-bottom: 1rem;
  width: 13rem;
  align-items: center;
}
.product-card-img-container > img {
  aspect-ratio: 1/1;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.product-card-details {
  display: flex;
  flex-direction: column;
}
.product-card-title {
  font-weight: 400;
  font-size: 1rem;
}
.product-card-prices {
  display: flex;
}
.price {
  margin-right: 10px;
  font-weight: 600;
}
.original-price {
  text-decoration: line-through;
  color: var(--greay-color);
}

.product-card-rating {
  display: flex;
  align-items: center;
}
.product-card-rating .fp-icon {
  font-size: 1.2rem;
  color: var(--star-color);
}
.product-card-buttons {
  align-items: center;
  padding: 5px;
  justify-content: center;
}
.card-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  width: 90%;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  /* left: 0; */
  margin-bottom: 5px;
  padding: 10px 0px;
}
.card-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}
