.filters-and-products {
  display: flex;
}
.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  max-height: 100vh;
  justify-content: center;
}
