* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #438967;
  --white-color: #ffff;
  --black-color: #000000;
  --boxshadow-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}
